* {
	padding: 0;
	margin: 0;
}
.container {
	width: 50%;
	height: 50vh;
	position: absolute;
	transform: translate(50%,50%);
	border: 1px dashed gray;
	box-shadow: 10px 20px 20px gray;
	background: linear-gradient(purple,red);
}
.content-container {
	margin: auto;
	padding: 5rem;
	justify-content: center;
}
.title-area {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	text-decoration: underline;
	justify-content: center;
	font-family: sans-serif;
	color: white;
}
.label {
	font-size: 1rem;
	font-family: sans-serif;
	margin: 2rem;
	color: white;
	font-weight: 100;
}
.btn {
	margin-top: 1rem;
	width: 5rem;
	text-align: center;
	height: 2rem;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-weight: 500;
	background-color: #988467;
}
.btn:hover {
	background-color: #97686a;
}
/* .user-options input[type='radio'] {
	color: white;
} */
.result p {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 2rem;
}